
.nav-color  {
    background-color:rgb(54, 52, 52);
    ;
}
.link-color{
    color: teal;
}
/* fixed sticky footer by adding fiex position on footer */
footer {
    background-color: rgb(54, 52, 52);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#icons {
    font-size: 35px;
}
#img {
    height: 300px ;
    width: 300px;
}

.name {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    
}
/* adding background image */

html,body {
  background-repeat: no-repeat, repeat;
  /* background-image: url("https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=641&q=80"); */
  background-color: lavenderblush;
}
